@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100..900&display=swap');

.work-sans-font {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    /* Optional, can be removed if not needed */
    font-weight: 400;
    /* Default weight */
    font-style: normal;
    /* Default style */
}


/*shared styles*/

.display-flex {
    display: flex;

}

.text-gray {
    color: #424242;
    font-weight: bold;

}

.bg-light {
    background-color: rgba(255, 144, 14, 0.1);
}

.text-light-gray {
    color: #727272;

}


/*header styles styles*/





/*nav bar  styles*/
.navbar {
    justify-content: space-between;

}

.nav-item {
    list-style: none;
    margin-right: 30px;

}

.nav-link {
    text-decoration: none;
    font-weight: 500px;

}

.navbar,
.banner {
    max-width: 1440px;
    margin: 0 auto;

}