@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100..900&display=swap');

.work-sans-font {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    /* Optional, can be removed if not needed */
    font-weight: 400;
    /* Default weight */
    font-style: normal;
    /* Default style */
}

main {
    max-width: 1440px;
    margin: 0 auto;
    border: 1px solid tomato;
}


/*shared styles*/

.display-flex {
    display: flex;

}

.text-gray {
    color: #424242;
    font-weight: bold;

}

.bg-light {
    background-color: rgba(255, 144, 14, 0.1);
}

.text-light-gray {
    color: #727272;

}


/*header styles styles*/





/*nav bar  styles*/
.navbar {
    justify-content: space-between;

}

.nav-item {
    list-style: none;
    margin-right: 30px;

}


.nav-link {
    text-decoration: none;
    font-weight: 500px;

}

.navbar,
.banner {
    max-width: 1440px;
    margin: 0 auto;

}

.button {
    background-color: rgba(255, 144, 14, 1);
    height: 40px;
    width: 120px;
    border-radius: 5px;
    color: aliceblue;
}

.banner-image {
    width: 1440px;
    height: 700px;
}

.banner {
    text-align: center;
    width: 826px;
    height: 225px;

}

.image-container {
    width: 100%;
    /* Make image take up full width of its container */
    height: auto;
    /* Maintain aspect ratio */
    max-width: 626px;
    /* Set a maximum width */
    margin: 0 auto 15px auto;
    /* Center image horizontally */
    display: block;
}

.team {
    align-items: center;


}

.team-image-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

main>section {
    margin-top: 110px;
}

.quick-features {
    margin-left: 20px;
    text-align: center;
    max-width: 530px;
}

#span-features {
    color: rgba(255, 144, 14, 1);
}

.team-two {
    display: flex;
    height: 686px;
    width: 1000px;
    justify-content: space-between
}

.dextop-mobile {

    box-shadow: 3px 8px 16px rgba(0, 0, 0, 0.2);
    padding: 30px 30px 30px 42px;
    margin-top: 10px;
    width: 386px;
    height: 134px;
    border-radius: 10px;

}

/* Responsive styles for smaller screens */
@media (max-width: 768px) {
    .image-container {
        max-width: 100%;
        /* Full width on smaller screens */
        margin-left: auto;
        margin-right: auto;


    }
}

/* Responsive styles for large screens */
@media (min-width: 1024px) {
    .image-container {
        max-width: 80%;


        /* Adjust size for larger screens */
    }
}